<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="agents-net" value="https://nuget.pkg.github.com/agents-net/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <agents-net>
            <add key="Username" value="twilker" />
            <add key="ClearTextPassword" value="2f8cd589ca99c367e8ac579500eba05c26aa2ca2" />
        </agents-net>
    </packageSourceCredentials>
</configuration>